#loginPanel {

    width: 22em;
    display: flex;
    flex-direction: column;
    border: black solid 5px;
    border-radius: 10px;
    box-shadow: 0.5em 0.5em 0.2em #1a1a1a;
}

#inputSection {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 5px solid black;
}

#btnSection {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
}
