#loginPanel {
    display: flex;
    flex-direction: column;
}

#inputSection {
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#btnSection {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
}
