.btn {
    cursor: pointer;
    background-color: #1a1a1a;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.btn:hover {
    background-color: #2a2a2a;
}

.btn:active {
    background-color: #000000;
}

.btnTitle {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

#round {
    border-radius: 50%;
}