.btn {
    box-sizing: border-box;
    cursor: pointer;
    background-color: #1a1a1a;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10%;
    margin: 5% 10%;
}

.light {
    background-color: #999999;
}

.btn:hover {
    background-color: #2a2a2a;
}

.btn:active {
    background-color: #000000;
}

.btnTitle {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1.5em;
    font-weight: 500;
}

.view {
    padding: 0;
    margin: 0;
}

.view

.rectangle {
    aspect-ratio: 1.5;
    border-radius: 10%;
}

.round {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}