.viewCircle {
    padding: 0;
    margin: 0;
    width: 1em;
    box-sizing: border-box;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

.dark {

    background-color: #1a1a1a;
    border-color: #000000;
}

.light {
    background-color: #999999;
}