#topbar {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10em;
    background: #1a1a1a;
    border: 5px solid #000;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1em;
}

#topbar .topbarBtn {

}