#sideBar {
    grid-area: sidebar;
    width: 16em;
    display: flex;
    flex-direction: column;
    border-right: 5px solid #000;
}

.sidebarBtn {
    margin: 0.6em 0.6em 0 0.6em;
    aspect-ratio: 2.5 / 1;
}